
@{
    ViewData["Title"] = "DisplayUserInfo";
}

@model Coffee_Shop.Models.UserRegistration.RegisterUserFormResultViewModel



<h1>@Model.user.userName's Info:</h1>

<label>UserName:</label>
<p>@Model.user.userName</p>
<br />
<label>Available Funds:</label>
<p>@Model.user.userFunds</p>



