
@{
    ViewData["Title"] = "Login";
}

@model Coffee_Shop.Models.UserRegistration.LoginViewModel

    <form asp-controller="Shop" asp-action="LoginResult" method="post">

        <label>UserName</label>
        <input asp-for="userName" />
        <br />
        <label>Password</label>
        <input type="password" asp-for="password" />        

        <button>Login</button>

    </form>

