
@{
    ViewData["Title"] = "RegisterUserFormResultView";
}

@model Coffee_Shop.Models.UserRegistration.RegisterUserFormResultViewModel


<h1> Congratulations @Model.user.userName, you have successfully registered!</h1>
<br />
<br />
<h2> Welcome to The Coffee Shop!</h2>
<br />
<br />
<a asp-controller="UserRegistration" asp-action="DisplayUserInfo" asp-route-userName="@Model.user.userName">View Your Info</a>

<br />
<br />
<a asp-controller="Shop" asp-action="ViewCatalog" asp-route-userName="@Model.user.userID">View Shop Catalog</a>


